**/build
/release

.idea/
*.iml

sui.log.*
.trace
.coverage_map.mvcov
/scripts/tx/*
!/scripts/tx/.gitkeep

**/.env
**/.env.*
node_modules
tx-data.txt*
.DS_STORE*
published.json
constants.sdk.json
dist
migration.patch
/target
